body {
    margin: 0;
    font-family: 'Scope One', serif; 
    --scorecard-bg : #dfdfe2;
    --scorecard-txt : rgba(0, 0, 0, 0.767);
    --form-band : #6b64a0;
    --color-theme : #ffc266;
    --header:#fff5e6;
    --color-th:#e4e4b8;
    --color-orange-light95:#fff5e6;
    --color-orange-light70:#fafafa;
    --color-green-light30:#a2d46a70;
    --color-green-dark:#63bb00;
    --color-black-light30:#4d4d4d;
    --color-red-light30:#f3171745;
}
*, *::before,*::after { box-sizing :border-box; }
h1 { font-size: 1.4em; }
h1.c_title {
    display: block;
    margin: 15px 0;
}
h2 { font-size: 1.3em; }
h1,h2,h3,h4,h5,h6{margin: 0}
ul {margin:0; padding:0; list-style: none;}
div#app, div#container {
    margin: 0px;
    padding: 0;
    box-shadow: unset;
    width:100%;
} 
.sm-text,.tiny-txt {
    font-size: .8em;
}
/*flex attribute css*/
.flex {display: flex;}
.js-apart {justify-content: space-between;}
.js-start {justify-content: flex-start;}
.al-end {align-items: flex-end;}
.al-cntr {align-items: center;}

#notice .notice_wrapper {
    background: var(--color-theme);
    font-size: 1.2rem;
    padding: 5px;
    text-align: center;
    font-size: 1.1rem;  
}
.error {color:red; padding: 1rem; display:inline-block;}
.error ul {padding: 0 15px;}
.success {color:green;padding: 1rem; display:inline-block;}
.context-link {color: darkred;padding: 10px;border: 1px dotted;}
.is-invalid {color: #fb0000;}
.negative {background: var(--color-red-light30) !important;}
.positive {background: var(--color-green-light30) !important;}
hr {padding: 0; margin: 0; border: 1px solid #f7f7f7;}
sup {font-weight: bold;color: red;}
.c_digit {text-align: right;padding: 0 5px;}
.error-box{height: 100px;margin: 50px 0;}
abbr {font-weight: bold; color: #3c3f40;}
.band-tall { height: 50px;}
.no-border {border: none !important;}
.txt_right {text-align:right;}
a {text-decoration: none;}
mark {padding: 2px 4px;margin: 2px 0;}
strong{font-weight: normal;}

/* layout */
div#container, div#app {box-shadow: 1px 1px 19px 4px #ddd;}
/* .home_layout__wrapper section {
    border: 1px solid red;
} */
.c_content__wrapper {
    margin: 0 5px;
}
section.message {
    margin-top: 15px;
    line-height: 1.4em;
    font-weight: bold;
}
div#pie_chart {
    height: 380px;
    background-color: #fff;
}
div#area_chart {
    height: 300px;
}
section.footer-date {
    text-align: center;
    padding: 20px;
}

/*welcome page css*/
@keyframes twinkle {
    from {color: #6b64a0}
    to {color: #009900;}
}
.market_open{
    animation-name: twinkle;
    animation-iteration-count: infinite;
    animation-duration: 1s;
}
.home_layout__wrapper section {
    margin: 15px 0;
}
.trade_summary {
    display: grid;
    place-items: center;
}
.trade_summary .item {
    padding: 10px;
    margin: 5px;
    border: 1px solid #c1c7b287;
    font-size: 1em;
    width: 150px;
    height: 120px;
}
.trade_summary .item .value {
    font-size: 1.5rem;
    padding: 10px 0;
}
.trade_summary__wrapper {
    display: flex;
    flex-direction: column;
    margin: 0 10px;
}

/*text clip*/
.td-clip {
    min-width: 200px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    display: inline-block;
}
.td-clip-75 {
    width: 100px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    display: inline-block;
}
/*table formatting*/
table {border-spacing: 0px; width:100% !important;}
table th {
    background: var(--color-th);
    text-align: left;
    font-size: 0.9rem;
    height: 50px;
}
table td {
    font-size:0.9rem;
    height: 50px;
}
table tr:hover {
    background: beige;
    background: #e1ead67a;
}
tr:nth-child(even) { background: var(--color-orange-light70); }
tr:last-child td {border-bottom: 1px solid #ebeeef;}
th:first-child, td:first-child {padding-left: 10px;}
th:last-child, td:last-child {padding-right: 10px;}
tr.separator {background: none;height: 30px;}
.transactions table td:nth-child(2) {max-width: 50px;}


.sectors .sector {
    margin: 2px 1px;
    padding: 5px;
    background: beige;
    border: 1px solid #CDDC39;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 49%;
}

#notice .message_wrapper {
    text-align: center;
    font-weight: bold;
}
.site-header .optional {
    display: none;
}
.optional {
    display: none;
}
div#notice .btn {
    padding: 10px;
    font-size: 12px;
    align-self: center;
    border: 1px solid aliceblue;
    border-radius: 5px;
}

/* share value increase decrease indicator */
.c_change {
    display: flex;
    justify-content: flex-end;
    min-width: 65px;
}

.increase {
    color: var(--color-green-dark);
}
.decrease {
    color: #ff0000;
}
.increase_icon {
    background: url(/assets/images/up.svg);
    width: 15px;
    background-repeat: no-repeat;
    background-size: cover;
    height: 15px;
    margin-left: 5px;
    background-position-y: top;
}
.decrease_icon {
    background: url(/assets/images/down.svg);
    width: 15px;
    background-repeat: no-repeat;
    background-size: cover;
    height: 15px;
    margin-left: 5px;
    background-position-y: top;
}

/* faq and guidelines */
section.faq header, section.guidelines header{margin:10px 0;}
section.faq h3, section.guidelines h3{display:inline; }
section.faq li, section.guidelines li{padding-left: 10px;}

section.guidelines li::marker {
    content: '📑';
}
section.guidelines li {
    margin: 15px 0;
}
.guidelines a:hover {
    background: #CDDC39;
}
.guidelines a {
    color: #3F51B5;
    border-bottom: 1px dashed #FF5722;
    padding: 0 5px;
}
section.guidelines ul {
    margin: 0 20px;
}
.highlighted {
    transition: font-size .5s;
    color: var(--form-band);
    font-size: 25px;
}

/* input elements */
textarea {
    width: 90vw;
    height: 3em;
    margin:0;
    height: 10em;
    border: 1px solid #c4c8ae;
    padding:3px;
}
input[type="title"] {
    width: 90vw;
}
input[type="file"]{
    width: 90vw;
    border: 1px solid #c4c8ae;
}
.g-recaptcha {
    margin-top: 10px;
}
.portfolio__form, .contact-us__form {
    display: flex;
    flex-direction: column;
}

.contact-us__form .g-recaptcha{
    margin-left: unset;
}    

/*logo*/
.site-logo img {
    height: 100px;
}

.form-field > label {
    font-weight: bold;
}

.form-field {
    display: flex;
    flex-direction: column;
    width: 350px;
    margin: 10px 0;
}

nav.c-nav__list li {
    display: inline-block;
    padding: 3px 5px;
    background: aliceblue;
    border-radius: 5px;
    margin: 0;
    margin-right: 5px;
    margin-top: 5px;
}
main.c-main {
    padding: 0;
}

/* The Overlay (background) */
.overlay {
    width: 0;
    position: absolute;
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;.
    margin:auto;
    
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
  }



/*menu links*/

/* top nav */

#top-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    margin: 5px 0;
}
section#top-nav .label {
    padding: 0 10px;
}
#top-nav .links {
    display: flex;
}
#top-nav .link {
    padding:8px;
    margin: 2px;
}
#top-nav .link:first-child:before {
    content: '💁‍♂️ ';
}
.link:hover {
    background: beige;
}

div#hamburger {
    background: rgb(162 191 217);
    width: 50px;
    height: 45px;
    padding: 5px 2px;
    margin: 1px;
}   

div#hamburger>div {
    height: 6px;
    background: #214b25;
    margin: 4px 2px;
}
.top-right {
    position: absolute;
    top: 0;
    right: 0;
}

/*header*/
.site-info__wrapper {
    margin: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.site-logo {
    width: 108px;
    height: 88px;
    background: url(/assets/logo-sm.png);
    background-repeat: no-repeat;
    background-size: cover;
}


header.main-header {
    background: rgb(202,202,168);
    background: radial-gradient(circle, rgba(202,202,168,1) 0%, rgba(148,187,233,1) 100%);
    position: relative;
}

.main-header__wrapper {
    display: flex;
}

ul.navbar-nav{
    padding:0;
    display: flex;
    flex-direction: column; 
    background: rgb(202,202,168);
    background: radial-gradient(circle, rgba(202,202,168,1) 0%, rgba(148,187,233,1) 100%);
    margin: 0;
    font-size: 18px;
    text-align: center;
}

.navbar-nav li:not(last-child) {
    display: inline-block;
    padding: 5px 10px;
}

tr.selected {
    background: #eceff1 imp !important;
}
.navbar-nav li.selected {
    background: #da9321;
    font-weight: bold;
}

.navbar-nav a {
    color: #000000;
    font-weight: bold;
    display: block;
    padding: 5px;
}

nav.navbar__wrapper {
    width: 100%;
}

ul.navbar-nav li:first-child {
    font-size: 33px;
    padding: 0;
    font-weight: bold;
}

ul.navbar-nav .links a {
    font-weight: bold;
    padding: 0 10px;
}

/*first row in the navbar*/
.nav_control {
    display: flex;
    justify-content: space-between;
}
.nav_control div {
    padding: 10px;
}

.card-body .alert-success {
    font-weight: bold;
    color: green;
    padding: 10px 0;
}

/* form input elements*/

.form-field label {
    width: 200px;
    display: inline-block;
}

input, select {
    border-radius: 5px;
    height: 2.5em;
    border: 1px solid #c4c8ae;
    width:60vw;
    padding:3px;
}
select#shareholders {
    min-width: 150px;
}
input[type="checkbox"], input[type="radio"] {
    width: 20px;
    vertical-align: middle;
    margin: 5px;
}
input[type="file"] {
    border: 1px dotted #214b25;
    padding: 20px;
    margin: 5px 0;
    height: 5em;
    font-family: 'Cutive';
}
.tax {
    background: #fafafa;
}

button {
    border: 1px solid #97c7ce;
    height: 2.5em;
    padding: 0 15px;
    margin: 5px 0 5px 0;
    margin-right: 5px;
    border: 1px solid #97c7ce;
    border-radius: 5px;
    box-shadow: 2px 2px 5px #214b252e;
}

button.focus {
    background-color: #6b64a0;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: .15em;
}
button.small-btn{
    height: 2em;
    padding: 2px 8px;
}

ul.shareholder-nav {
    height: 65px;
    overflow-y: scroll;
}
tr.strike {
    color: red;
    text-decoration: line-through;
}
.td-clip {
    width: 100px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    display: inline-block;
}
.td-clip-75 {
    width: 75px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    display: inline-block;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  div#myModal li {
    margin: 1.2em;
    list-style-type: disc;
    font-size:1.3rem;
    }

div#myModal #modal-message {
    font-weight: bold;
    color: green;
    font-size: 20px;
}

  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 15px;
    border: 1px solid #888;
    font-size: 13px;
  }

  .modal-content ul {
    padding: 0;
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  /* end of modal */

/*layout*/

/*dialog*/
dialog {
    padding: 0;
    border-color: #1e4321;
}
dialog .form_content {
    margin: 0 2rem;
}
dialog header.band {
    padding: .5rem 2rem;
}
/*users*/
/* article.form.users_list main {
    margin: 0 10px;
} */

/*import share */
section#share-import-form main {
    display: flex;
    flex-direction: column;
}

/*share import*/
#share-import-form input[type=file] {
    width: 300px;
}
.import__instructions {
    margin: 0 10px;
    font-size: 15px;
    line-height: 30px;
}

#share-import-form main{
    display: flex;
}   
#share-import-form .form {
    background: #fafafa;
    padding: 5px 10px;
}


.c_portfolio_container .flex {
    flex-wrap: wrap;
}

#portfolio-detail .stock {
    padding: 5px 15px;
    line-height: 1.7em;
}

#portfolio-detail {
    padding: 20px 10px;
    position: relative;
}
.item label {
    color: darkslategrey;
    display: inline-block;
}

div#portfolio-form__wrapper form {
    display: flex;
    flex-direction: column;
    background: #f7f7f7;
    width: 100vw;
}

/*shareholder crud*/
#shareholder-form {
    width: 100vw;
    background: #f7f7f7;
    display:none;
}
header.shareholder-list-header{
    display: flex;
    flex-direction: column-reverse;
}
section#shareholder-crud {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
}
.validation-error li {
    list-style-type: disc;
}
.validation-error {
    padding: 10px;
}
.c_gender {
    flex-direction: row;
    margin: 0;
}

.c_gender label {
    width: 100px;
}


/* .form.c_shareholder_list header {
    flex-direction: column;
    align-items: flex-start;
} */

.item.basket {
    background: beige;
    padding: 10px;
}

.item.basket header {
    display: flex;
    align-items: center;
}
.item.basket h2 {
    margin-right: 30px;
}

article.sales_list main {
    margin: 5px;
}
.basket td,.basket th, .sales_list td, .sales_list th {
    text-align: right;
}
article#sales_crud.show {
    transition: opacity 1.5s;
    opacity: 100%;
    width: revert;
    height: revert;
    margin:0 auto;
}
article#sales_crud {
    width: 0;
    height: 0;
    opacity: 0;
}
article#sales_crud {
    background: #bdc6b7;
}

/*sales basket / cart */
#carts input[type=text], #carts input[type=number] {
    width: 80px;
    text-align: right;
}

#carts td {
    line-height: 1.5em;
}

#cart-summary {margin: 40px 0;}
#cart-summary header{text-align: center;}

#cart-summary main {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
#cart-summary .left-col, #cart-summary .right-col {
    padding: 20px;
}

#share-import-form li {
    list-style-type: disc;
    margin-left: 15px;
}
details.form_details{
    padding:10px;
    position: relative;
    cursor: pointer;
}
details.form_details>summary {
    margin-bottom: 20px;
}
details.form_details summary:focus {
    outline: none;
    background: unset;
}

details.form_details h3{
    display: inline;
}
section.guidelines { margin: 10px 20px; }
section.faq { margin: 10px; }
.contact-us__form {
    margin: 10px 20px;
}
.form_content {
    margin: 0 20px;
}
.nav__username {
    font-size: 20px;
    font-weight: bold;
}

.nav__user__wrapper {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}
.nav_control {
    background: #187700;
    color: wheat;
}
section.feedback__intro {
    margin: 0 10px;
}
.auth__wrapper {
    margin: 20px 15px;
}
.sh_dashboard__wrapper .main__content {
    margin: 30px 0;
}
.summary main {
    margin: 0 20px;
}
.summary_main__content #summary {
    margin: 60px 0;
    flex-direction: column;
}
section.portfolio__form__wrapper main {
    margin: 0 15px;
}
.center-box {
    background: #e3e3b817;
    text-align: center;
    font-weight: bold;
}
ul.shareholder-nav li {
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 2px 5px;
}
.share_import__wrapper section.nav {
    margin: 10px;
}
ul.shareholder-nav li::before {
    content: '🕸';
    opacity: .5;
}


/*dashboard page css*/

.main__wrapper {
    margin: 10px;
}

.dsh__card {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);
}

.box {margin: 5px 0;}
.box table {margin-top: 5px;}
.box table td, .box table th {text-align: right;}
.box table td:first-child,.box table th:first-child {text-align: left; }
.box table td:first-child a {
    border-bottom: 1px dashed #6b64a075;
    padding-bottom: 1px;
}
.dsh_layout__wrapper .box-summary {
	grid-column: 1/2;
	background: #e4e4b8;
	padding: 5px;
}
.dsh__card main {
    /* font-size: 1rem; */
    font-weight: bold;
    text-align: left;
    min-height: 50px;;
}

.dsh__card header {
    margin: 5px 0;
    font-weight: bold;
    text-transform: uppercase;
    color: #a0a000;
}

.dsh__card footer {
    text-align: right;
}
.box h2 {
    margin: 0;
    font-size: 0.95rem;
}

.shareholder_dashboard__wrapper table td:nth-child(2) {
    min-width: 50px;
}
.summary__wrapper .showcase__wrapper {
    margin: 20px 0;
}

.data_wrapper {
    display: flex;
    flex-wrap: nowrap;
}

/* datatable related CSS */

/*user portfolio data table*/
.portfolio_top_filter {
	display: grid;
	grid-template-columns: auto auto;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    padding: 10px 5px;
}
.portfolio_top_filter select {
	max-width: 200px;
}
#user-portfolio_wrapper {
	display: grid;
	grid-template-columns: auto auto;
}
table#user-portfolio {
    grid-column: 1/3;
}
#user-portfolio_length {
    grid-column: 1/2;
}
#user-portfolio_filter {
    grid-column: 2/3;
    margin: 0;
}
#user-portfolio_filter input {
    max-width: 200px;
}
#user-portfolio_info {
	grid-column: 1/3;
}
#user-portfolio_paginate {
    grid-column: 1/3;
}


.dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_filter {
    padding: 0 5px;
}

.dataTables_wrapper .dataTables_length select {
    width: auto;
}

table#user-portfolio,
table#transactions {
    padding-top: 10px;
}
div#user-portfolio_wrapper,
div#table#transactions_wrapper {
    background: #e4e4b859;
    padding: 10px 0;
}

section.transactions {
    margin: 10px 5px;
}

/* scorecards */
.score_card__wapper {
    display: grid;
    grid-template-columns: repeat(5,1fr);
}
.score_card__wapper footer {
    text-align: right;
}
.score_card__wapper article,
.card article {
    background: var(--color-orange-light70);
    color: var(--scorecard-txt);
    padding: 5px;
    margin: 5px;
    /* height: 6.5em; */
    /* font-size: .9em; */
    /* box-sizing: border-box; */
}

.showcase__wrapper article {
    margin: 20px 2px;
    display: flex;
    border: 1px dashed var(--form-band);
    padding: 10px;
    box-shadow: 0 0 4px 0px;
    flex-wrap: wrap;
    width: 95%;
    justify-content: center;
}

p.event {
    width: 200px;
}

article.summary .right_section {
    margin-left: 20px 40px;
}
/* .dp{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    box-shadow: 1px 1px 6px -1px #000;
}
.dp-male {
    background: url(/assets/images/mf.jpg) 313px 350px;
}
.dp-female {
    background: url(/assets/images/mf.jpg) -155px -164px;
} */
.showcase table th {
    background: revert;
    height:unset;
    padding:5px;
}

div.summary{
    padding: 20px 0;
    font-size: 15px;
    font-weight: bold;
    line-height: 1.8em;
}
.summary>div {
    display: flex;
}
.change div {
    display: inline-block;
}
div.summary>div>span {
    display: inline-block;
    width: 121px;
    margin: 1px 0;
}
.showcase__wrapper .right_section {
    display: none;
}
.score_card__wapper main.value {
    font-weight: bold;
    font-size: 20px;
    padding: 5px;
    text-align: center;
    width: auto;
}
.name h2 {
    display: block;
    width: 180px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/*page footer*/
.page-footer {
    margin-top: 50px;
}
.feedbacks.nav {
    margin: 10px;
}
.feedbacks.nav {
    display: grid;
    grid-template-columns: repeat(2,auto);
    grid-gap: 10px;
}
li {
    line-height: 1.5rem;
}
span.c-social-nav__link {
    width: 25px;
    display: inline-block;
}
footer .links a {
    font-weight: normal;
}