body {
    margin: 0;
    /* font-family: 'Cutive', serif; */
    /* font-family: 'Lora', serif; */
    font-family: 'Scope One', serif; 
}
div#app, div#container {
    margin: 0 auto;
    width: 1024px;
}
img.c-logo__img {
    height: 130px;
    padding: 20px 0;
}
a {text-decoration: none;}
h1, h2, h3 {margin:0; margin-left:0;}
h1 {font-family: 'Cutive', serif;font-size:1.5em;}
h2 {font-size: 1.2em;}
ul.thin {margin:0; padding: 0;}
table {border-spacing: 0px; width:100%;}
th {
    background: aliceblue;
    padding: 4px;
    text-align: left;
    font-size: 15px;
    height: 30px;
}
tr:nth-child(even) {background: #FFF}
tr:nth-child(odd) {background: #EEE}
/* first column a yellow background, and then every second column starting from column 3 a gray one:
col:first-child {background: #FF0}
col:nth-child(2n+3) {background: #CCC} 
*/
td {padding-left: 2px;height: 30px;}
.c_digit {text-align: right;}
input {
    padding: 5px;
    width: 200px;
    height: 1.5em;
    margin: 5px 0;
    border-radius: 5px;
    border: 1px solid #8fa391;
}
input[type="checkbox"], input[type="radio"] {
    width: 20px;
    vertical-align: middle;
    margin: 5px;
}
.loading {
    padding: 10px 60px;
    background-image: url(//s.svgbox.net/loaders.svg?fill=805ad5#three-dots);
    background-repeat: no-repeat;
    background-size: 30px;
    background-color: #d2fbab;
    display: inline-block !important;
    vertical-align: middle;
    background-position: left center;
    background-position-x: 10px;
    font-weight: bold;
    position: absolute;
    top: 0;
    right: 0;
}

.success {
    background-position-x: 10px;
    color: #ffffff;
    background: #09bb1a;
}
.error {
    background-position-x: 10px;
    color: #ffffff;
    font-weight: bold;
}


.c_band {
    background: #6b64a0;
    padding: 5px;
    color: #fff;
    display: flex;
    justify-content: flex-end;
}

.c_band__success {
    background: #09bb1a;
}
.c_band__error {
    background: #ff0000;
}

.message {
    align-self: center;
    margin-right: 10px;
    font-weight: bold;
    background-size: 30px;
    background-repeat: no-repeat;    
    background-position: left center;
}
/* #message .error {
    background-image: url(//s.svgbox.net/hero-solid.svg?fill=ffffff#thumb-down);
}
#message .success {
    background-image: url(//s.svgbox.net/hero-solid.svg?fill=ffffff#thumb-up);
} */
select {
    height: 2.5em;  
    border-radius: 5px;
    padding: 2px 4px;
    width: 210px;
}
button {
    min-width: 100px;
    border: 1px solid #97c7ce;
    border-radius: 5px;
    box-shadow: 2px 2px 5px #214b252e;
    height: 2.5em;
}
.c_shareholder {
    margin: 0 5px;
}
.c_shareholder label {
    display: block;
}
/* layout */
.c-header__wrapper {
    display: flex;
    justify-content: space-between;
}
.c-logo {
    align-self: flex-end;
}
.c-nav {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
nav.c-nav__list ul {
    padding: 0;
}
nav.c-nav__list li {
    display: inline;
    padding: 10px 15px;
    background: aliceblue;
    border-radius: 5px;
}
.a_page_header {
    text-align: right;
}
/* end of layout */
/* form validation css */


.is-invalid {
    color: #fb0000;
    font-weight: bold;
    /* font-family: monospace; */
}
/* end of form validation css */

/*meroshare*/
button#import_all {
    align-self: flex-end;
}
.c_transaction_list 
td:last-child {
    max-width: 250px;
    font-size: 12px;
}
.c_transaction_list td:first-child {
    background-color: #d1d6691a;
    border-bottom: 1px solid  #d6dcde;;
}
.c_transaction_list td {border-bottom: 1px solid #d6dcde;}
.c_transaction_list article { padding: 10px 0;}
main.c_trans_form {
    border: 1px solid #f7f7f7;
    border-radius: 10px;
    padding: 20px;
    background: #fafafa;
}
.c_trans_form .form-field {padding: 10px 0;}
.c_trans_form input[type="file"] {
    border: 1px dotted #214b25;
    width: 98%;
    padding: 20px;
    box-sizing: border-box;
    margin: 5px 0;
    height:65px;
}
.c_trans_form  select#category {
    min-width: 200px;
    padding: 5px;
    border: 1px solid #f7f7f7;
}
article.c_transaction_list header {
    margin: 10px 0;
    display: block;
}
/*end of meroshare*/

/*portfolio css*/

/* scorecard */
section.c_score_cards {
    display: flex;
    justify-content: space-evenly;
    margin: 10px 0 20px 0;
}
section.c_score_cards article {
    width: 200px;
    background: aliceblue;
    padding: 10px;
    margin: 5px;
}

.a_portfolio th,.a_portfolio th,.a_portfolio td, .a_portfolio td {text-align: right;}
.a_portfolio td:first-child,.a_portfolio td:last-child,.a_portfolio th:first-child, .a_portfolio th:last-child{text-align: left;}
.a_portfolio td:nth-child(7),.a_portfolio th:nth-child(7){text-align: left; padding-left: 10px;}
.a_portfolio_main h1 {display: inline-block;}
.a_portfolio_header {align-self: center; }

.a_portfolio_main {
    background: #b9b300;
    padding-top: 6px;
    border-radius: 5px;
}
.c_change {
    width:100px;
    background-repeat: no-repeat;
    background-position: top right;
    display: inline-block;
}
.increase {
    background-image: url(//s.svgbox.net/materialui.svg?fill=008000#arrow_drop_up);
    color:#09bb1a;
}
.decrease {
    background-image: url(//s.svgbox.net/materialui.svg?fill=FF0000#arrow_drop_down);
    color:#ff0000;
}
.c_shareholder_form .form-field > label:first-of-type {
    display: inline-block;
    width: 200px;
    /* border: 1px solid; */
    margin: 5px 0;
    padding: 5px 10px;
    background: #fafafa;
}

/* end of portfolio */

/* shareholders */
.c_shareholder_list .action {
    display: flex;
    justify-content: flex-end;
}
.c_shareholder_list .action button {
    margin: 0 5px;
}
article.c_shareholder_list {
    margin-top: 50px;
}
main.c_shareholder_form {
    background: #fafafa;
    margin: 20px 0;
    border: 1px solid #6b64a0;
    border-top-width: 0;
}
.c_shareholder_form .c_band {
    background:#9db79f;
    margin-bottom: 20px;
    /* background:url(//s.svgbox.net/heropatterns.svg?fill=9db79f#death-star) #FFF; */
    background-size:32px;"
}
.c_shareholder_form form {
    margin-bottom: 20px;
}
.c_shareholder_form .fields {
    margin-left: 50px;
}
/* end of shareholders */