body {
    margin: 0;
    /* font-family: 'Cutive', serif; */
    /* font-family: 'Lora', serif; */
    font-family: 'Scope One', serif; 
}
div#container {
    margin: 0 auto;
    width: 1024px;
}
img.c-logo__img {
    height: 130px;
    padding: 20px 0;
}

h1, h2, h3 {margin:0}
h1 {font-family: 'Cutive', serif;font-size:1.5em;}
h2 {font-size: 1.2em;}
ul.thin {margin:0; padding: 0;}
table {border-spacing: 0px; width:100%;}
th {
    background: aliceblue;
    padding: 4px;
    text-align: left;
    font-size: 15px;
    height: 30px;
}
tr:nth-child(even) {background: #FFF}
tr:nth-child(odd) {background: #EEE}
/* first column a yellow background, and then every second column starting from column 3 a gray one:
col:first-child {background: #FF0}
col:nth-child(2n+3) {background: #CCC} 
*/
td {padding-left: 2px;height: 30px;}
.c_digit {text-align: right;}

button {
    padding: 10px;
    min-width: 100px;
    border: 1px solid #97c7ce;
    border-radius: 5px;
    box-shadow: 2px 2px 5px #214b252e;
}
/* form validation css */
.success {
    padding: 10px 60px;
    background-image: url(//s.svgbox.net/social.svg?fill=805ad5#angellist);
    /* background-image: url(//s.svgbox.net/hero-solid.svg?fill=805ad5#thumb-up); */
    background-repeat: no-repeat;
    background-size: 30px;
    background-color: #c1dcca;
    display: inline-block !important;
    vertical-align: middle;
    background-position: left center;
    background-position-x: 10px;
    font-weight: bold;
}
.error {
    padding: 10px 60px;
    background-image: url(//s.svgbox.net/hero-solid.svg?fill=e20f67#thumb-down);
    background-repeat: no-repeat;
    background-size: 30px;
    background-color: #eac9bf;
    display: inline-block !important;
    vertical-align: middle;
    background-position: left center;
    background-position-x: 10px;
    font-weight: bold;
}
.loading {
    padding: 10px 60px;
    background-image: url(//s.svgbox.net/loaders.svg?fill=805ad5#three-dots);
    background-repeat: no-repeat;
    background-size: 30px;
    background-color: #d2fbab;
    display: inline-block !important;
    vertical-align: middle;
    background-position: left center;
    background-position-x: 10px;
    font-weight: bold;
    position: absolute;
    top: 0;
    right: 0;
}
.is-invalid {
    color: #fb0000;
    font-weight: bold;
    /* font-family: monospace; */
}
/* end of form validation css */

/*meroshare*/
.c_transaction_list 
td:last-child {
    max-width: 250px;
    font-size: 12px;
}

.c_transaction_list 
td:first-child {
    background-color: #d1d6691a;
    border-bottom: 1px solid  #d6dcde;;
}
td {border-bottom: 1px solid #d6dcde;}
article {
    padding: 20px 0;
}
main.c_trans_form {
    margin: 20px 0;
    border: 1px solid #f7f7f7;
    border-radius: 10px;
    padding: 20px;
    background: #fafafa;
}
.c_trans_form .form-field {
    padding: 10px 0;
}
.c_trans_form input[type="file"] {
    border: 1px dotted #214b25;
    width: 98%;
    padding: 20px;
    box-sizing: border-box;
    margin: 5px 0;
}
.c_trans_form  select#category {
    min-width: 200px;
    padding: 5px;
    border: 1px solid #f7f7f7;
    /* margin: 5px; */
}
article.c_transaction_list header {
    margin: 10px 0;
    display: block;
    /* text-align: right; */
}
/*end of meroshare*/