body {
    margin: 0;
    font-family: 'Scope One', serif; 
    --scorecard : #1d1c25;
    --form-band : #6b64a0;
    --color-theme : #ffc266;
    --header:#fff5e6;
    --color-orange-light95:#fff5e6;
    --color-orange-light70:#ffc266;
    --color-green-light30:#009900;
    --color-black-light30:#4d4d4d;
}

/*flex attribute css*/
.flex {display: flex;}
.js-apart {justify-content: space-between;}
.js-start {justify-content: flex-start;}
.al-end {align-items: flex-end;}
.al-cntr {align-items: center;}

/* layout */

div#container, div#app {
    box-shadow: 1px 1px 19px 4px #ddd;
}
.c_content__wrapper {
    margin: 20px 0;
    /* width: 100vw;; */
}

abbr {font-weight: bold; color: #3c3f40;}
.band-tall { height: 50px;}
.no-border {border: none !important;}
.txt_right {text-align:right;}
a {text-decoration: none;}

mark {
    padding: 2px 4px;
    margin: 2px 0;
}

.error {color:red !important;}
.error ul {padding: 0 15px;}
.success {color:green !important;}
.context-link {
    color: darkred;
    padding: 10px;
    border: 1px dotted;
}
div.message, span.message {font-weight:bold;padding: 0 5px;}
section.message {
    margin: 10px 0;
    padding: 10px;
    font-weight: bold;
}
.negative {background: #e60f05 !important;}
.is-invalid {color: #fb0000;}
.positive {background: var(--color-green-light30) !important;}
hr {padding: 0; margin: 0; border: 1px solid #f7f7f7;}
sup {
    font-weight: bold;
    color: red;
}
/*notice*/
.error-box{
    height: 100px;
    margin: 50px 0;
}
/* .notice {margin: 0; padding: 5px;} */
section.header {margin: 15px 0; }
#basket-notify:before {content: '🛒';}
/* #basket-notify {text-align: right; padding: 2px;} */
#basket article.summary { margin: 50px 0; }
#basket main#carts { margin: 50px 0; }
/*page footer*/

.copyright {
    padding: 10px;
    text-align: center;
}
/* end of footer css*/

/*form related css*/
.portfolio_new__form {
    padding: 0 10px;
}
input[readonly] {
    background: #dde3eb;
    border: 0px;
}
.form-field span {
    text-transform: capitalize;
}

.card-header {
    margin-bottom: 20px;
}
.footer-row {
    margin: 20px 0;
}
.footer-row .btn-link {
    margin-left: 25px;
}
/* end of login */

.info {padding:5px}
.info h2 {
    display: inline;
}
.info .notification {
    align-self:center;
}
th.info {
    background: beige;
    padding: 5px 10px;
}
.band {
    background: beige;
    padding: 10px;
}
.show {
    transition: display 5s ease-in-out 5s;
    display: block !important;
}
.d-none {display: none !important;}
.hide {display: none;}

/*share import*/
article.import-list {
    margin: 30px 0;
}

section#top-nav .selected a {
    color: #fff;
}
section#top-nav .selected {
    background: #6b64a0;
}


/*table formatting*/
table {border-spacing: 0px; width:100%;}
table th {
    background: var(--color-orange-light70);
    padding: 4px;
    text-align: left;
    font-size: 15px;
    height: 50px;
}
table td {
    line-height: 2.5em;
    font-size:1em;
}
table tr:hover {
    background: beige;
    background: #e1ead67a;
}
/* tr:nth-child(even) { background: var(--color-black-light90);} */
tr:nth-child(odd) { background: var(--color-orange-light95);}
tr:last-child td {border-bottom: 1px solid #ebeeef;}
.c_digit {text-align: right;padding: 0 5px;}
tr.separator {
    background: none;
    height: 30px;
}

/* div.remarks {
    display: flex;
} */
/* end of form input elements*/
.loading {
    padding: 10px 60px;
    background-image: '🔃';
    background-repeat: no-repeat;
    background-size: 30px;
    background-color: #d2fbab;
    display: inline-block !important;
    vertical-align: middle;
    background-position: left center;
    background-position-x: 10px;
    font-weight: bold;
    position: absolute;
    top: 0;
    right: 0;
}


.c_shareholders .form-field.c_gender {
    display: inline-block;
}
.c_gender label {
    width: auto;
}

.link_menu {
    font-size: 20px;
    font-weight: bold;
}
.c_band__components {
    display: flex;
    justify-content: space-around;
    align-items: center;
}


/*portfolio css*/

.c_portfolio_container .header-row {
    display: flex;
    align-items: flex-end;
}
.main__content h3 :not(first-child) {
    display: inline-block;
    min-width: 200px;
    font-size: 18px;
    color: var(--color-black-light30);
    margin-left: 20px;
}
.c_portfolio_container .header-row__label {
    min-width: 250px;
}
.c_portfolio_container .header-labels {
    display: flex;
    justify-content: flex-end;
    font-weight: bold;
}
.c_change_per {
    padding: 0 5px;
}

.main__content_main h1 {display: inline-block;}
.main__content_header {align-self: center; }

.main__content_main {
    background: #b9b300;
    padding-top: 6px;
    border-radius: 5px;
}


.c-social-nav__link.facebook {
    margin-left: -5px;
}
.c-social-nav {
    display: flex;
    align-items: center;
}
.c-social-nav__item{
padding-left: 8px;
}

.c-social-nav__link svg {
transition: all 200ms ease-in-out;
}
.c-social-nav__link svg {
stroke: #000;
}
.col1, .col3, .col4 {
    width: 100px;
    text-align: right;
}
.col6 {
    width: 150px;
    text-align: right;
    margin-left: 10px;
}
summary:focus {
    outline: none;
    background: beige;
    /* padding: 0 10px; */
}

summary {
    /* outline: none; */
    padding-left: 5px;
}

ul.shareholders li a {
    font-weight: bold;
    color: #3F51B5;
    margin-right: 20px;
    padding: 5px;
}
ul.shareholders a:hover {
    opacity: .8;
    color: #214b25;
}
ul.shareholders li {
    margin-right: 25px;
    padding: 5px;
}

.share_import__wrapper summary::-webkit-details-marker {
    color: white;
    padding:0; margin:0;
}
.share_import__wrapper summary::before {
    content: '➕';
}

#summary details:nth-child(odd) {
    background:#fafafa;
}
.sh_dashboard__wrapper .main__content h2:before {
    content: '👫  ';
}
#summary details summary::before {
    content: '👫';
    font-size:1.5em;
}
#summary details[open] summary::before {
    content: '👀';
}
#summary details summary::-webkit-details-marker {
    padding:10px 0;
    color: white;
}
#summary details[open] summary::-webkit-details-marker {
    padding:10px 0;
    color: beige;
}
#summary details summary:hover {
    background:beige;
}
#summary details summary:hover::-webkit-details-marker {
    color: beige;
}
section.shareholder-group {
    display: flex;
    position: relative;
    top: -30px;
    margin-left: 20px;
}
.shareholder {
    display: inline-block;
}
.shareholder>a>h3 {
    color: #3F51B5;
}
section.sales h2 {
    display: inline;
}
section.sales {
    margin: 30px 5px;
}
section.sales summary {
    outline: none;
}
.summary-label {
    font-size: 15px;
    font-weight: normal;
}
.c_layout_portfolio_form {
    margin: 20px 50px;
    line-height: 35px;
}

.display-label {
    margin: 10px 0;
    max-width: 200px;
    display: block;
}
.item {font-weight: bold;}
.item label {
    color: darkslategrey;
    width: 200px;
    display: inline-block;
}
.item input {
    width: 80px;
    color:red;
    font-weight: bold;
}


/* verification */
.card-body button {
    margin: 10px 0;
    font-size: 15px;
}

.card-body {
    font-size: 18px;
}

.card-header {
    font-weight: bold;
    font-size: 20px;
}


/* screens other than mobile */
/* 575px=35.938em */
@media only screen and (min-width: 575px){

    div#app, div#container {
        margin: 0 auto;
        width: 1100px;
    }
    .site-logo {
        background: url("/assets/logo.png");
        height: 125px;
        width: 150px;
    }
    .site-header .optional, .optional {
        display: block;
    }
        
    th.optional, td.optional {
        display: revert;
    }

    h1, h2, h3 {margin:5px; margin-left:0;}
    h1 {font-family: 'Cutive', serif;font-size:1.7em;}
    h2 {font-size: 1.5em;}
    h3 {font-size: 1.2em;}

    #hamburger{
        display: none;
    }
    header.main-header {
        padding-top: 30px;
    }
    .main-header__wrapper {
        flex-direction: column;
    }
    div#myNav {
        position: relative;
    }
    .site-info__wrapper {
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: nowrap;
    }
    div#myNav {
        width: 100%;
        background: var(--form-band);
    }
    ul.navbar-nav {
        background: unset;
        margin: 0;
        font-size: 18px;
        text-align: right;
        display: block;
    }

    .navbar-nav a {
        color: white;
    }

    ul.navbar-nav li:first-child {display: none;}
    ul.navbar-nav li:last-child {display: none;}        /*hide the logout button in big screen*/
    

    .feedbacks.nav li {
        text-align: left;
        padding: 0 5px;
    }

    /*text clip*/
    .td-clip {
        min-width: 200px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        display: inline-block;
    }
    .td-clip-75 {
        width: 100px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        display: inline-block;
    }
    

    /*summary paage showcase*/
    .summary__wrapper {
        margin: 20px;
        width: revert;
    }
    .showcase__wrapper, .score_card__wapper {
        margin:30px 0;
        width: 100%;
    }

    .score_card__wapper article {
        font-size: 1.2em;
        width: 19.1%;
    }
    .score_card__wapper main.value {
        text-align: center;
        font-size: 2em;
    }
    
    .showcase__wrapper article {
        flex-wrap: nowrap;
        margin: 40px 0;
        width: 99%;
    }

    .showcase__wrapper .left_section {
        padding: 10px;
    }
    .showcase__wrapper .right_section {
        display: flex;
        justify-content: space-evenly;
        width: 100%;
        flex-wrap: wrap;
    }
    .showcase__wrapper .right_section>div {
        margin: 0 20px;
    }
    .profile__wrapper {
        flex-wrap: nowrap;
    }

    /*welcome page*/
    section.sectors main {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        width: 30em;
    }
    .sectors .sector {
        margin: 4px;
        width: 48.3%;
    }
    
    
    /* layout */

    /* portfolio detail */

    /* form section inside portfolio details */
    #portfolio-detail .ps__wrapper {
        display: flex;
        justify-content: space-evenly;
    }
    div#portfolio-form__wrapper form {
        flex-direction: row;
        box-shadow: inset 0 0 7px -2px;
        width: 98%;
        padding: 20px;
    }
    #portfolio-form__wrapper {
        position: absolute;
        top: 0;
        background: #f7f7f7;
        width: auto;
    }

    /*shareholder*/
    .form.c_shareholder_list header {
        flex-direction: row;
    }
    div#shareholder-form {
        width: 100%;
    }

    /*import share*/
    section#share-import-form main {
        flex-direction: row;
    }

    /*faq and guidelines*/

    section.guidelines, section.faq {
        margin: 10px 60px;
    }
    section.guidelines p,section.faq p {font-size:20px;}
    section.faq p {
        padding: 0 20px;

    }

    article.summary main {
        display: flex;
    }

    .welcome__wrapper .transactions {
        margin: 5px 0 !important;
    }
    .welcome__wrapper {
        flex-direction: row;
        display: flex;
    }
    .welcome__wrapper section.transactions {
        width: 57em;
    }
    .welcome__wrapper .aside{
        margin-left:10px;
    }
    /* todo: check this out */
    /* .summary_main__content {
        margin: 40px 10px;
    } */
    .portfolio__content, .welcome__wrapper,
    .sh_dashboard__wrapper .main__content {
        margin: 0 5px;
    }
    .feedbacks.nav {
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-evenly;
        width: 100vw;
        flex-wrap: wrap;
    }

    #notice .notice_wrapper {
        transition: display 5s;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background: #e3e3b830;
    }
    #notice .message_wrapper {
        padding: 5px;
        text-align: center;
        font-weight: bold;
        color: #214b25;
        display: inline-flex;
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    #notice .title {
        font-size: 20px;
        color: #4CAF50;
        margin: 0 10px;
    }

      
  /* Modal Content/Box */
  .modal-content {
    margin: auto; 
    margin-top:20px;
    padding: 20px;
    border: 1px solid #888;
    width: 75%; /* Could be more or less, depending on screen size */
  }

  /* input buttons */

    select, input {
        width: 15vw;
    }

    textarea {
        font-size: 18px;
        margin: 0 5px;
        border-radius: 5px;
        padding: 5px;
        width: 600px;
        box-sizing: border-box;
    }
    input[type="file"] {
        height: 100px;
        width: 600px;
        box-sizing: border-box;
    }
    input[type="title"] {
        width: 400px;
    }
    input[type="date"] {
        width: 15vw;
        text-align: center;
    }
    .portfolio__form, .contact-us__form {
        display: flex;
        padding-bottom: 40px;
        flex-direction: row;
    }

    footer.page-footer .links {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        padding: 10px;
        margin-top: 40px;
        background: rgb(202,202,168);
        background: linear-gradient(355deg, rgba(202,202,168,1) 0%, rgba(148,187,233,1) 100%);
    }

}

@media only screen and(min-wdth:400px) and(max-width: 1000px){

    div#app, div#container {
        --screen-width:60em;
        margin: 0 auto;
        width: var(--screen-width);
    }
}

@media only screen and (min-width: 1200px){

    div#app, div#container {
        --screen-width:90em;
        margin: 0 auto;
        width: var(--screen-width);
    }
}