@media only screen and (min-width:401px){
    .welcome__wrapper {
        display: flex;
        align-items: flex-start;
    }
    .welcome__wrapper section.transactions {
        width: 100%;
    }
    .welcome__wrapper .aside{
        width: 100%;
    }
}
table {
    border-collapse:separate; 
    border-spacing: 0 0.1em;
}
.sectors {
    /* background: #f7f7f7; */
    padding: 10px;
    margin: 10px 0;
}
.sectors h3 {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.sectors main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items:stretch;
    justify-content: space-between;
}
.sectors .sector {
    margin: 2px;
    padding: 5px 15px;
    background: beige;
    border: 1px solid #CDDC39;
    width: 48%;
    white-space: nowrap;
    overflow: hidden;
    box-sizing: border-box;
}
.sector label {
    display: none;
}

section#top10items>article {
    margin-left: 10px;
    margin-bottom: 30px;
}
.welcome__wrapper {
    margin: 0 5px;
}
.welcome__wrapper section.transactions {
    width: 70%;
}
.welcome__wrapper .aside{
    width: 30%;
}
